@model Trsys.Frontend.Web.Models.Admin.UsersViewModel

@{
    ViewBag.Title = "ユーザー一覧";
    var errorMessage = ViewData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger mb-4">
        @errorMessage
    </div>
}


<div class="my-3 d-flex justify-content-between">
    <h1 class="h2 mb-3">@ViewBag.Title</h1>
    <div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-create">新規登録</button>
    </div>
</div>

<div class="list-group">
    @foreach (var item in Model.Items)
    {
        <div class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#modal-detail-@(item.Id)">
            @item.Nickname
            @if (item.Roles.Any())
            {
                <text>(@string.Join("、", item.Roles))</text>
            }
        </div>
    }
</div>

<div class="modal fade" id="modal-create" tabindex="-1">
    <form asp-action="UserCreateConfirm" data-trsys-ajax="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新規登録</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <label class="form-label">ユーザー名</label>
                        <input class="form-control" type="text" name="Username" autocomplete="off" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">パスワード</label>
                        <input class="form-control" type="password" name="Password" autocomplete="off" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">名前</label>
                        <input class="form-control" type="text" name="Nickname" autocomplete="off" />
                    </div>
                    <div class="mb-3">
                        <span class="form-label">役割</span>
                        <div class="form-check my-2">
                            <label>
                                <input class="form-check-input" type="checkbox" name="Roles" value="Administrator" />
                                Administrator
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    <button type="submit" class="btn btn-primary">登録</button>
                </div>
            </div>
        </div>
    </form>
</div>

@foreach (var item in Model.Items)
{
    <div class="modal fade" id="modal-detail-@(item.Id)" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">詳細</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <span class="form-label">ユーザー名</span>
                        <span class="form-control-plaintext">@item.Username</span>
                    </div>
                    <div class="mb-3">
                        <span class="form-label">パスワード <button class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#modal-edit-password-@(item.Id)">編集</button></span>
                        <span class="form-control-plaintext">********</span>
                    </div>
                    <div class="mb-3">
                        <span class="form-label">名前 <button class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#modal-edit-nickname-@(item.Id)">編集</button></span>
                        <span class="form-control-plaintext">@item.Nickname</span>
                    </div>
                    <div class="mb-3">
                        <span class="form-label">役割 <button class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#modal-edit-roles-@(item.Id)">編集</button></span>
                        <span class="form-control-plaintext">
                            @if (item.Roles.Any())
                            {
                                <text>@string.Join("、", item.Roles)</text>
                            }
                            else
                            {
                                <text>なし</text>
                            }
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <form asp-action="UserDeleteConfirm" asp-route-id="@item.Id" data-trsys-ajax="true">
                        <button type="submit" class="btn btn-danger">削除</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-edit-password-@(item.Id)" tabindex="-1">
        <form asp-action="UserEditPasswordConfirm" asp-route-id="@item.Id" data-trsys-ajax="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">パスワード変更</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">パスワード</label>
                            <input class="form-control" type="password" name="Password" autocomplete="off" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                        <button type="submit" class="btn btn-primary">登録</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modal-edit-nickname-@(item.Id)" tabindex="-1">
        <form asp-action="UserEditNicknameConfirm" asp-route-id="@item.Id" data-trsys-ajax="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">名前変更</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">名前</label>
                            <input class="form-control" type="text" name="Nickname" value="@item.Nickname" autocomplete="off" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                        <button type="submit" class="btn btn-primary">登録</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modal-edit-roles-@(item.Id)" tabindex="-1">
        <form asp-action="UserEditRolesConfirm" asp-route-id="@item.Id" data-trsys-ajax="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">役割変更</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <span class="form-label">役割</span>
                            <div class="form-check my-2">
                                <label>
                                    <input class="form-check-input" type="checkbox" name="Roles" value="Administrator" />
                                    Administrator
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                        <button type="submit" class="btn btn-primary">登録</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
