@model Trsys.Frontend.Web.Models.Admin.DistributionGroupsViewModel

@{
    ViewBag.Title = "配信グループ一覧";
}

<div class="row">
    <div class="col-md-3">
        <partial name="_Navigation" />
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane fade show active">
                <div class="my-3">
                    <partial name="_Message" />
                </div>
                <div class="my-3 d-flex justify-content-between">
                    <h1 class="h2 mb-3">@ViewBag.Title</h1>
                    <div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#distribution-group-modal-create">新規登録</button>
                    </div>
                </div>

                <div class="list-group">
                    @foreach (var item in Model.Items)
                    {
                        <div class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#distribution-group-modal-detail-@(item.Id)">
                            @item.Name
                        </div>
                    }
                </div>

                <div class="modal fade" id="distribution-group-modal-create" tabindex="-1">
                    <form asp-action="DistributionGroupCreateConfirm" data-val="true" data-trsys-ajax="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">新規登録</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-2">
                                        <label class="form-label">名前</label>
                                        <input class="form-control" type="text" name="Name" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                                    <button type="submit" class="btn btn-primary">登録</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                @foreach (var item in Model.Items)
                {
                    <div class="modal fade" id="distribution-group-modal-detail-@(item.Id)" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">詳細</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-2">
                                        <span class="form-label">名前 <button class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#distribution-group-modal-edit-name-@(item.Id)">編集</button></span>
                                        <span class="form-control-plaintext">@item.Name</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="DistributionGroupDeleteConfirm" asp-route-id="@item.Id" data-trsys-ajax="true">
                                        <button type="submit" class="btn btn-danger">削除</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="distribution-group-modal-edit-name-@(item.Id)" tabindex="-1">
                        <form asp-action="DistributionGroupEditNameConfirm" asp-route-id="@item.Id" data-val="true" data-trsys-ajax="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">名前変更</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label class="form-label">名前</label>
                                            <input class="form-control" type="text" name="Name" value="@item.Name" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                                        <button type="submit" class="btn btn-primary">登録</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script>
        $(document).on('success.trsys.ajax', function () {
            window.location.href = '@Url.Action("DistributionGroups", "Admin")'
        });
    </script>
}
